body{
    font: 20px Arial sans-serif;
}

.navbar {
    background-color: #77ce74;
    color: white;
}
.quem-somos{
    background-color: #00eeff;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: #dfd65f;
}
.servicos{
    background-color: #506aff;
}
.bg-footer{
    background-color: black;
    color: white;
}